<!-- Navigation -->
<div class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">

  <div class="container">

    <a href="{{ SITEURL }}" class="navbar-brand">
      <!--
      <object type="image/svg+xml" data="logo.svg" class="logo">
      -->
      {{ SITENAME }}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- this is the non-brand portion of the nav bar -->
    <div class="collapse navbar-collapse" id="navbarResponsive">

      <!-- begin list of navbar buttons -->
      <ul class="navbar-nav">

        <!--
        pages order:
        - home
        - season*
        - postseason*
        - league
        - rosters
        - maps
        -->

        <!-- current games -->
        <li class="nav-item">
          <a class="nav-link" href="{{ SITEURL }}/landing.html">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
              Modes <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="themes">
            <a class="dropdown-item" href="{{ SITEURL }}/siteMode_0009.html">Mode 00-09</a>
            <a class="dropdown-item" href="{{ SITEURL }}/siteMode_1019.html">Mode 10-19</a>
            <a class="dropdown-item" href="{{ SITEURL }}/siteMode_21.html">Mode 21</a>
            <a class="dropdown-item" href="{{ SITEURL }}/siteMode_22.html">Mode 22</a>
            <a class="dropdown-item" href="{{ SITEURL }}/siteMode_23.html">Mode 23</a>
            <a class="dropdown-item" href="{{ SITEURL }}/siteMode_31.html">Mode 31</a>
            <a class="dropdown-item" href="{{ SITEURL }}/siteMode_32.html">Mode 32</a>
            <a class="dropdown-item" href="{{ SITEURL }}/siteMode_33.html">Mode 33</a>
            <a class="dropdown-item" href="{{ SITEURL }}/siteMode_40plus.html">Mode 40</a>
          </div>
        </li>

        <!-- seasons -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
              Season <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="themes">
            <a class="dropdown-item" href="{{ SITEURL }}/season.html">Season 1</a>
          </div>
        </li>

        <!-- postseasons -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
              Postseason <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="themes">
            <a class="dropdown-item" href="{{ SITEURL }}/postseason.html">Season 1</a>
          </div>
        </li>

        <!-- league -->
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/league.html">Standings</a>
        </li>

        <!-- rosters -->
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/player_viewer/">Rosters</a>
        </li>

        <!-- maps -->
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/maps.html">Maps</a>
        </li>

        <!-- rules -->
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/rules.html">Rules</a>
        </li>

        <!-- about -->
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/about.html">About</a>
        </li>

      </ul>
    </div>
  </div>
</div>
