<!-- Navigation -->
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">

  <div class="container">

    <a href="{{ SITEURL }}" class="navbar-brand">{{ SITENAME }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- this is the non-brand portion of the nav bar -->
    <div class="collapse navbar-collapse" id="navbarResponsive">

      <!-- begin list of navbar buttons -->
      <ul class="navbar-nav">

        <!--
        pages order:
        - current games
        - season*
        - postseason*
        - league
        - rosters
        - maps
        -->

        <!-- current games -->
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/current.html">Current Games</a>
        </li>

        <!-- seasons -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
              Season <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="themes">
            <a class="dropdown-item" href="#">Season 5*</a>
            <a class="dropdown-item" href="#">Season 4</a>
            <a class="dropdown-item" href="#">Season 3</a>
            <a class="dropdown-item" href="#">Season 2</a>
            <a class="dropdown-item" href="#">Season 1</a>
          </div>
        </li>

        <!-- postseasons -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
              Postseason <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="themes">
            <a class="dropdown-item" href="#">Season 5*</a>
            <a class="dropdown-item" href="#">Season 4</a>
            <a class="dropdown-item" href="#">Season 3</a>
            <a class="dropdown-item" href="#">Season 2</a>
            <a class="dropdown-item" href="#">Season 1</a>
          </div>
        </li>

        <!-- league -->
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/league.html">League Standings</a>
        </li>

        <!-- rosters -->
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/rosters.html">Rosters</a>
        </li>

        <!-- maps -->
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/maps.html">Maps</a>
        </li>

        <!-- rules -->
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/rules.html">Rules</a>
        </li>

        <!-- about -->
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/about.html">About</a>
        </li>

      </ul>
    </div>
  </div>
</div>
