<!-- Navigation -->
<div class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">

  <div class="container">

    <a href="{{ SITEURL }}/" class="navbar-brand">
      <img class="navbar-brand-logo" type="image/png" src="{{ SITEURL }}/theme/img/golly-favicon.png" alt="logo" />
      {{ SITENAME }}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- this is the non-brand portion of the nav bar -->
    <div class="collapse navbar-collapse" id="navbarResponsive">

      <!-- begin list of navbar buttons -->
      <ul class="navbar-nav">

        <!--
        pages order:
        - home
        - season*
        - postseason*
        - league
        - rosters
        - maps
        -->

        <!-- current games -->
        <li class="nav-item">
          <a class="nav-link" href="{{ SITEURL }}/index.html">Home</a>
        </li>

        <!-- seasons -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
              Season <span class="caret"></span>
          </a>
          <div id="navbar-season-dropdown-menu" class="dropdown-menu" aria-labelledby="themes">
            <!--
            <a class="dropdown-item" href="{{ SITEURL }}/season.html">Season 1</a>
            -->
          </div>
        </li>

        <!-- postseasons -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
              Postseason <span class="caret"></span>
          </a>
          <div id="navbar-postseason-dropdown-menu" class="dropdown-menu" aria-labelledby="themes">
            <!--
            <a class="dropdown-item" href="{{ SITEURL }}/postseason.html">Season 1</a>
            -->
          </div>
        </li>

        <!-- league -->
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/league.html">Standings</a>
        </li>

        <!-- roster list -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
              Rosters<span class="caret"></span>
          </a>
          <div id="navbar-postseason-dropdown-menu" class="dropdown-menu" aria-labelledby="themes">
            <a class="dropdown-item" href="{{ SITEURL }}/aa.html">Alewife Arsonists</a>
            <a class="dropdown-item" href="{{ SITEURL }}/atl.html">Atlanta Glitter Sharks</a>
            <a class="dropdown-item" href="{{ SITEURL }}/btx.html">Baltimore Texas</a>
            <a class="dropdown-item" href="{{ SITEURL }}/deco.html">Delaware Corporate Shells</a>
            <a class="dropdown-item" href="{{ SITEURL }}/det.html">Detroit Grape Chews</a>
            <a class="dropdown-item" href="{{ SITEURL }}/ea.html">Elko Astronauts</a>
            <a class="dropdown-item" href="{{ SITEURL }}/fwpt.html">Ft. Worth Piano Tuners</a>
            <a class="dropdown-item" href="{{ SITEURL }}/osha.html">Jersey OSHA Violations</a>
            <a class="dropdown-item" href="{{ SITEURL }}/lbfb.html">Long Beach Flightless Birds</a>
            <a class="dropdown-item" href="{{ SITEURL }}/milf.html">Milwaukee Flamingos</a>
            <a class="dropdown-item" href="{{ SITEURL }}/orl.html">Orlando Business Majors</a>
            <a class="dropdown-item" href="{{ SITEURL }}/sac.html">Sacramento Boot Lickers</a>
            <a class="dropdown-item" href="{{ SITEURL }}/sdba.html">San Diego Balloon Animals</a>
            <a class="dropdown-item" href="{{ SITEURL }}/sfbs.html">San Francisco Boat Shoes</a>
            <a class="dropdown-item" href="{{ SITEURL }}/ss.html">Seattle Sneakers</a>
            <a class="dropdown-item" href="{{ SITEURL }}/tb.html">Tucson Butchers</a>
          </div>
        </li>

        <!-- player viewer -->
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/player_viewer/">Players</a>
        </li>

        <!-- maps -->
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/maps.html">Maps</a>
        </li>

        <!-- simulator -->
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/simulator/index.html">Simulator</a>
        </li>

        <!-- rules -->
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/rules.html">Rules</a>
        </li>

        <!-- about -->
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/about.html">About</a>
        </li>

      </ul>
    </div>
  </div>
</div>
