.scoreboard-panel {
    font-size: 18px;
}

body {
  /* navbar: */
  padding-top: 100px;
  /* no navbar: */
  /*padding-top: 20px;*/
}

.card {
    margin-bottom: 20px;
}

.badge-brightmono {
    background-color: #eee;
    color: #333;
}

#canvascontainer {
    padding-bottom: 20px;
}

a.padded-anchor {
    position:absolute; top:-100px;
}

footer.body {
    padding-top: 100px;
}


/****************************
 * styles for season/postseason/league pages
 ****************************/

a.card-nodecoration {
    text-decoration: none;
}

h1.season-header, h1.league-header {
    margin-bottom: 60px;
}

div.season-toc {
    margin-bottom: 60px;
}

div.postseason-series-header, div.league-standings-section {
    margin-top: 60px;
}

/****************************
 * style common to game cards
 ****************************/

.game-winner {
    font-weight: 600;
}

.game-loser {
    font-weight: 250;
}

div.card-body {
    font-weight: 250;
}

/****************************
 * styles for landing page
 ****************************/

h1.champion-header, h2.champion-header, h3.champion-header {
    margin-bottom: 60px;
}

div.seed-table {
    margin-top: 30px;
}

.seed-number {
    font-size: 110%;
}

/*****************************
 * styles for player viewer
 *****************************/

#playerteamcontrols {
    padding-bottom: 20px;
}

.player-viewer-link {
  color: steelblue;
}
