        <!-- finished game template -->
        <div class="card text-white">
          <div class="card-body">
            <div>
                <table width="100%"><tr><td>
                  <h6><span class="team1color team1name game-winner">San Diego Balloon Animals</span> <small>(10-5)</small></h6>
                </td><td align="right">
                  <span class="team1color game-winner" id="livecells1">251</span>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <h6><span class="team2color team2name game-loser">Detroit Grape Chews</span> <small>(5-10)</small></h6>
                </td><td align="right">
                  <span class="team2color game-loser" id="livecells2">250</span>
                </td></tr></table>
            </div>
            <div>
                Map: <span class="pattern-name">East Hellmouth</span>
            </div>
            <div>
                <button style="margin-top: 20px;" type="button" class="btn btn-primary btn-sm btn-success">View Simulation ></button>
            </div>
          </div>
        </div>
