        <!-- postseason in progress template -->
        <div class="card text-white">
          <div class="card-body">
            <h5 class="card-title">Game 1, World Series</h5>
            <div>
                  <h6><span class="team1color team1name">San Diego Balloon Animals</span> <small>(1)</small></h6>
            </div>
            <div>
                  <h6><span class="team2color team2name">Detroit Grape Chews</span> <small>(4)</small></h6>
            </div>
            <div>
                Map: <span class="pattern-name">East Hellmouth</span>
            </div>
            <div>
                <button style="margin-top: 20px;" type="button" class="btn btn-primary btn-sm btn-success">View Simulation ></button>
            </div>
          </div>
        </div>
